<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="#">Pierre's Treats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylists" href="/recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/tags">Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/account">Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quick Menu</a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
          <a class="dropdown-item" href="/recipes/create">Add A Recipe</a>
          <a class="dropdown-item" href="/tags/create">Add A Tag</a>
          
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-md-0">
    </div>
  </div>
</nav>