  
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-warning">
      @Html.ActionLink("Back to list", "Index")
  </label>
  <label class="btn btn-warning">
      @Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })
  </label>
  <label class="btn btn-warning">
      @Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })
  </label>
  @* <label class="btn btn-warning">
      @Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })
  </label> *@
</div>