@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels;
@model LoginViewModel;
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="text-center">Log in with your account</h2>
    <hr />
    @using (Html.BeginForm())
    {
      <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class="form-control", placeholder = "Put your 'real' email here. Do it now!"})
      </div>

      <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class="form-control", placeholder = "Enter your words of passage."})
      </div>

        <input type="submit" value="Log in" class="btn btn-info btn-block" />
    }
  </div>
</div>