@{
Layout = "_Layout";
}
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-center">Pierre's Treat Tracker</h1>
    <div class="home-header">
      <img src="~/img/splash-med.jpg" />
    </div>
    <div class="left-img">
      <img src="~/img/cin.jpg" alt="">
    </div>
    <div class="right-img">
      <img src="~/img/treats.jpg" alt="">
    </div>
  </div>
</div>