@{
    Layout = "_Layout";
}
@model PierresTreats.Models.Flavor

<div class="row">
<div class="col-md-8 offset-md-2">

    <h1>Flavor Details</h1>
    <hr>
    <h3>Flavor Name: @Html.DisplayFor(model => model.FlavorName)</h3>

  <hr>
  @if(@Model.Treats.Count == 0)
  {
    <p>Flavor has not been applied to any Treats yet</p>
  }
  else
  {
    <h3>You can find this flavor on these treats:</h3>
    <ul>
    @foreach(var join in Model.Treats)
    {
      <li> @Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new {id = join.Treat.TreatId})</li>

    }
    </ul>
  }

@await Html.PartialAsync("_FlavorButtons")
